<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ `` | absURL }}">
      <h2 class="subtitle has-text-weight-semibold is-size-4">{{ site.Title }}</h2>
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" class="navbar-item ml-05 mr-05">
          <h2 class="subtitle has-text-weight-normal is-size-5">{{ .Name }}</h2>
          </a>
        {{ end }}
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item ml-05 mr-05" href="https://instagram.com" target="_blank">          
            <span class="icon"><i class="fa-brands fa-instagram"></i></icon>
      </a>
      <a class="navbar-item ml-05 mr-05" href="https://github.com" target="_blank">          
            <span class="icon"><i class="fa-brands fa-github"></i></icon>
      </a>
      <a class="navbar-item ml-05 mr-05">
      {{ range .Site.Menus.contact }}
        <a href="{{ .URL }}" class="button is-light is-rounded is-responsive">
          <span class="icon-text">
            <span class="icon">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <span>{{ .Name }}</span>
          </span>
        </a>
        {{ end }}
      </a>
    </div>
  </div>
</nav> -->
