<aside class="menu" role="navigation" aria-label="main navigation">
  <a id="aside-burger is-active" role="button" aria-label="menu" aria-expanded="false">
    <span class="icon" >
      <i class="fas fa-caret-right"></i>
    </span>
  </a>
  <figure class="image has-text-centered">
    <a href="{{ `` | absURL }}">
      <img id="menu-logo" src="/media/core/logo.png" alt="Logo">
    </a>
  </figure>
  <a class="menu-list" href="{{ `` | absURL }}">
    <h1 class="title has-text-weight-semibold is-size-2 pt-1 pb-1 mt-2 mb-4">{{ site.Title }}</h2>
  </a>
  <ul>
  {{ range .Site.Menus.main }}
   <li>
    <a href="{{ .URL }}">
      <h2 class="title has-text-weight-semibold is-size-4 mb-3 mt-3">{{ .Name }}</h2>
    </a>
   </li>
  {{ end }}
 </ul>
</aside>