@font-face {
    font-display: swap;
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf')
    }

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}