{{ define "main" }}

     {{ $subtitle := .Params.subtitle }}

    <!-- Content for About Me -->
    <div class="container is-centered mx-2">
        <div class="columns">
            <div class="column is-full">
                <!-- Breadcrumbs -->
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul id="bc">
                        <li>
                            <a href="{{ `` | absURL }}" class="has-text-link is-subtitle">Home</a>
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page" class="is-subtitle">{{ .LinkTitle }}</a>
                        </li>
                    </ul>
                </nav>
                <!-- ABOUT ME -->
                <div class="columns mb-5">
                    <div class="column is-three-fifths">
                        <h1 class="is-title is-size-3 mt-3 mb-1 is-size-3 has-text-weight-bold">
                            {{ .Title }}
                        </h1>
                        <h2 class="is-subtitle my-3 is-size-5 mb-5">
                            {{ .Params.subtitle }}
                        </h2>
                    </div>
                    <div class="column">
                        <div class="container">
                            <div>
                                <!-- PhotoSwipe gallery start (single image) -->
                                {{ .Content }}
                            </div> 
                        </div>    
                    </div>
                </div>        
            </div>
        </div>
    </div>

{{ end }}