<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<head>
  {{ partial "head.html" . }}
</head>

<body>
<div class="container is-fullhd">
  <div class="columns">
    <div class="column is-full-mobile is-one-third-tablet is-one-fifth-desktop">
      <!-- <header class="menu"> -->
        <!-- {{ partial "improved_sidebar.html" . }} -->
        {{ partial "sidebar.html" . }}
        <!-- {{ partial "sidebar_footer.html" . }} -->
      <!-- </header> -->
    </div>
    <div class="column is-full-mobile is-two-thirds-tablet is-four-fifths-desktop">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>
  </div>
</div>

</body>

</html>