<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<head>
 	{{ partial "head.html" . }}
</head>

<!-- <header>
	<div class="is-hidden-tablet">
		{{ partial "header-mobile.html" . }}
	</div>
	<div class="is-hidden-mobile">
		{{ partial "header-wide.html" . }}
	</div>
</header>-->

<header>
	{{ partial "header.html" . }}
</header>

<body class="">
	<div class="container is-max-fullhd">
	{{ block "main" . }}{{ end }}
	</div>
</body>

<footer class="footer">
	{{ partial "footer.html" . }}
</footer>

</html>