{{ define "main" }}

    {{ $subtitle := .Params.subtitle }}
    
    <div class="container is-centered">
        <div class="columns mx-2">
            <div class="column is-full">
                <!-- Breadcrumbs -->
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{{ `` | absURL }}" class="has-text-link is-subtitle">Home</a>
                        </li>
                        <li>
                        {{ with .Parent }}
                            <a href="{{ .RelPermalink }}" class="has-text-link is-subtitle">{{ .LinkTitle }}</a>
                        {{ end }}
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page" class="is-subtitle">
                                {{ .LinkTitle }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="columns mb-5">
                    <div class="column is-full">
                        <!-- Gallery title and subsitle -->
                        <h1 class="is-title mt-3 mb-1 is-size-3 has-text-weight-bold">
                            {{ .Title }}
                        </h1>
                        <h2 class="is-subtitle my-3 is-size-5">
                            {{ .Params.subtitle }}
                        </h2>
                        <!-- PhotoSwipe gallery start -->
                        <div class="container is-centered mb-5">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
{{ end }}