{{ define "main" }}

  {{ .Content }}
  
  <!-- Featured image -->  
  <section class="hero is-link is-fullheight header-image">
    <div class="hero-body"></div>
    <div class="hero-foot">
      <p class="title mx-3 my-3"><i class="fa-solid fa-location-dot"></i> North Berwick</p>
      <p class="subtitle mx-3 my-3"><i class="fa-solid fa-calendar-days"></i> Feb 8, 2025</p>
    </div>
  </section>
  
  <!-- Recent posts showcase -->
  
  <div id="showcase" class="mt-2">
    <div class="columns is-centered">
      
      <!-- Recent posts showcase (all devices)-->
      <div class="column is-half-desktop">
        <div class="content">
          <h2 class="mt-5">Recent posts</h2>
        </div>
        <div class="grid">
          {{ $post := where .Site.RegularPages "Type" "posts" | first 2}}
          {{ range $post }}
          <div class="cell">
            {{ partial "widgets/showcase.html" . }}
          </div>
          {{ end }}
        </div>
      <div class="container">
        <a href="/Posts"><h4>See all posts <i class="fa-solid fa-arrow-right"></i></h2></a>
      </div>
    </div>
    
    <!-- Recent galleries showcase (desktop only) -->
    <div class="column is-half-desktop">
        <div class="content">
          <h2 class="mt-5">Recent galleries</h2>
        </div>
      <div class="fixed-grid has-2-cols-desktop has-4-cols-touch">
        <div class="grid">
          {{ $galleries := where .Site.Pages "Type" "galleries" | first 4}}
          {{ range $galleries }}
          <div class="cell">
            {{ partial "widgets/showcase-galleries.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="container">
        <a href="/Galleries"><h4>See all galleries <i class="fa-solid fa-arrow-right"></i></h2></a>
      </div>
    </div>
    
  </div>
  
{{ end }}
