{{ define "main" }}
    
    {{ .Content }}
    
    <!-- PHOTO SHOWCASE IN TABLET AND ABOVE -->
    
    <div class="container is-centered mx-2 pb-5 mb-5">
        <!-- PHOTO SHOWCASE -->         
        <div class="container">
            <!-- <p class="is-size-6 my-0 has-text-weight-bold is-title mb-3">SHOWCASE</p> -->
            {{ partial "widgets/showcase-gallery-home.html" . }}
        </div> 
        
        <!-- Recent galleries and blog showcase IN TABLET AND ABOVE -->
        <hr>
        <!-- TITLE -->
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="content">
                    <p class="is-size-6 mt-2 mb-1 has-text-weight-bold is-title">FEATURED GALLERIES</p>
                    <h3 class="is-size-5 my-3 has-text-right"><a href="/Galleries"><span>See all galleries <i class="fa-solid fa-arrow-right"></i></span></a></h3>
                    <!-- <p class="is-subtitle">A selection of photos I'm extra proud of, grouped under a common theme.</p> -->
                </div>
                <div class="grid is-col-min-12">
                    <!-- FIRST THREE GALLERIES -->
                    {{ $galleries := where .Site.Pages "Type" "galleries" | first 4}}
                    {{ range $galleries }}
                    <div class="cell">
                        {{ partial "widgets/showcase-galleries.html" . }}
                    </div>
                    {{ end }}
                </div>
            </div>
            <!-- OTHER SIDE - RECENT POSTS -->
            <div class="column is-two-fifths">
                <div class="content">
                    <p class="is-size-6 mt-2 mb-1 has-text-weight-bold is-title">BLOG</p>
                    <!-- <p class="is-subtitle">A selection of photos I'm extra proud of, grouped under a common theme.</p> -->
                    <h3 class="is-size-5 my-3 has-text-right"><a href="/Posts"><span>See all posts <i class="fa-solid fa-arrow-right"></i></span></a></h3>
                </div>
                <div class="card mb-3">
                    <div class="card-content">   
                        <div class="fixed-grid has-1-cols mx-0">
                            <div class="grid is-gap-3">
                                {{ $post := where .Site.RegularPages.ByPublishDate.Reverse "Type" "posts" | after 0 | first 6}}
                                {{ range $post }}
                                <div class="cell">
                                    {{ partial "widgets/showcase-no-desc-small.html" . }}
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>  
                </div>                
            </div>
        </div>
        
        <!-- Site content by tag -->
        <div class="columns is-multiline">
            <div class="column is-full">
                <hr>
                <div class="content">
                    <p class="is-size-6 mt-2 mb-1 has-text-weight-bold is-title">BROWSE CONTENT BY TAG</p>
                </div>
            </div>
            <!-- TAGS -->
            <div class="column is-full">   
                {{ partial "widgets/site-tags.html" . }}
            </div>
        </div>
    </div>
  
{{ end }}
