{{ define "main" }}

<div class="container pt-1 mt-3 pl-2 pr-2 pb-3 is-centered is-widescreen">

<!-- Breadcrumbs -->

    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ `` | absURL }}">Home</a>
            </li>
            <li class="is-active">
                <a href="#" aria-current="page">
                    {{ .LinkTitle }}
                </a>
            </li>
        </ul>
    </nav>

{{ $subtitle := .Params.subtitle }}

    <div class="container">
        <h1 class="title mt-5 mb-0 is-size-3">{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Params.subtitle }}</h2>
        <!-- <div class="columns is-multiline mt-2"> -->
        <div class="fixed-grid has-4-cols-desktop has-2-cols-touch">
            <div class="grid">
                {{ range .Paginator.Pages.ByPublishDate.Reverse }}
                    <div class="cell">
                        {{ partial "widgets/showcase.html" . }}
                    </div>
                <!-- <div class="column"></div> -->
                {{ end }}
            </div>
        </div>
        
        <div class="columns is-centered mt-2">
            <div class="column is-narrow">
                {{ partial "widgets/pagination.html" . }}
            </div>
        </div>
    </div>
    
{{ end }}
