{{ define "main" }}

    {{ $subtitle := .Params.subtitle }}
    
    <!-- PARTIAL FOR LOGO WHEN IN TABLET-WIDESCREEN -->
    {{ partial "header-wide.html" . }}
    
    <!-- POST CONTENT -->
    <div class="container is-centered">
        <!-- Breadcrumbs -->
        <div class="columns mx-2">
            <div class="column is-full">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{{ `` | absURL }}" class="has-text-link">Home</a>
                        </li>
                        <li>
                        {{ with .Parent }}
                            <a href="{{ .RelPermalink }}" class="has-text-link">{{ .LinkTitle }}</a>
                        {{ end }}
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page" class="has-text-link">
                                {{ .LinkTitle }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- POST CONTENT -->
                <!-- Post title, image, and tags -->
                <h2 class="title is-size-4 mt-3 mb-1 has-text-weight-semibold">{{ .Title }}</h2>
                <p class="is-size-6 my-1 has-text-primary has-text-weight-medium">
                    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                    {{ $dateHuman := .Date | time.Format ":date_long" }}
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>  |
                    <!--
                        | {{ with .Params.tags }}
                            {{ range . }}
                            <i class="fas fa-tag has-text-link-bold ml-2"></i>
                                {{ $href := print (absURL "tags/") (urlize .) }}
                                    <a href="{{ $href }}" class="has-text-link-bold mr-2">{{ . }}</a> |
                                {{ end }}
                            {{ end }}
                            -->
                    Reading time: {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} mins {{ end }}
                </p>
                
                <div class="columns mt-3">
                    <div class="column is-two-thirds">
                        {{ partial "widgets/featuredimage.html" . }}
                    </div>
                    <div class="column is-one-third">
                        <div class="content has-text-weight-bold has-text-primary-bold is-size-4">
                            {{ .Params.subtitle }}
                        </div>
                    </div>
                </div>
                  
                <!-- Content -->
            
                <div class="container is-centered is-max-desktop mb-5">
                    <div class="content is-size-5">
                        {{ .Content }}
                    </div>
                    <hr class="has-background-info">
                    <!-- Replace below with prev/next post -->
                {{ partial "tags.html" (dict "taxonomy" "tags" "page" .) }}
                </div>
            </div>
        </div>
    </div>
  
{{ end }}
