{{ define "main" }}

    <!-- Custom blog post styling -->
    {{ with .Resources.GetMatch "*.css" }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    {{ $subtitle := .Params.subtitle }}
        
    <!-- POST CONTENT -->
    <div class="container is-centered">
        <!-- Breadcrumbs -->
        <div class="columns mx-2">
            <div class="column is-full">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul id="bc">
                        <li>
                            <a href="{{ `` | absURL }}" class="has-text-link is-subtitle">Home</a>
                        </li>
                        <li>
                        {{ with .Parent }}
                            <a href="{{ .RelPermalink }}" class="has-text-link is-subtitle">{{ .LinkTitle }}</a>
                        {{ end }}
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page" class="is-subtitle">
                                {{ .LinkTitle }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- POST CONTENT -->
                <div class="columns mb-5">
                    <div class="column is-full">
                        <!-- Post title, image, and tags -->
                        <h1 class="is-title is-size-3 mt-3 mb-1 is-size-3 has-text-weight-bold">
                            {{ .Title }}
                        </h1>
                        <p class="is-subtitle is-size-6 my-1 has-text-primary has-text-weight-medium">
                            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                            {{ $dateHuman := .Date | time.Format "2 Jan 2006" }}
                            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>  |
                            <!--
                                | {{ with .Params.tags }}
                                    {{ range . }}
                                    <i class="fas fa-tag has-text-link-bold ml-2"></i>
                                        {{ $href := print (absURL "tags/") (urlize .) }}
                                            <a href="{{ $href }}" class="has-text-link-bold mr-2">{{ . }}</a> |
                                        {{ end }}
                                    {{ end }}
                                    -->
                            Reading time: {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}
                        </p>
                        
                        <div class="columns mt-3">
                            <div class="column is-two-thirds">
                                {{ partial "widgets/featuredimage.html" . }}
                            </div>
                            <div class="column is-one-third">
                                <p class="content has-text-weight-medium has-text-primary is-size-4">
                                    {{ .Params.subtitle }}
                                </p>
                            </div>
                        </div>
                          
                        <!-- Content -->
                    
                        <div class="container is-centered is-max-desktop mb-5">
                            <div class="content is-size-4 has-text-weight-normal">
                                {{ .Content }}
                            </div>
                            <hr>
                        <!-- Maybe add option for prev/next post -->
                        {{ partial "widgets/page-tags.html" (dict "taxonomy" "tags" "page" .) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{{ end }}
