<!-- block begin -->
<div class="container mt-2 mb-3">
    <div id="psgallery--justified" class="psgallery-class">
        {{ $images := .Page.Resources.Match (printf "%s*" (.Get "folder")) }}
        {{ range  $images }}
            {{ if reflect.IsImageResourceProcessable . }}
            {{ $full := . }}
            {{ if gt .Width 2000 }}
                {{ $full = .Resize "2000x q85" }}
            {{ end }}
            <a
                href="{{ $full.RelPermalink }}"
                data-pswp-width="{{ $full.Width }}"
                data-pswp-height="{{ $full.Height }}"
                target="_blank"
            >
                {{ partial "widgets/responsive-image.html" (dict "resource" . "alt" .Name "sizes" "(max-width: 768px) 100vw, 310px") }}
                <span class="pswp-caption-content">
                    {{ with .Meta }}
                        <ul class="is-subtitle">
                            {{ with .Exif.ImageTitle }}<li><b>{{ . }}<b></li>{{ end }}
                            {{ with .Date }}<li>{{ .Format "January 02, 2006" }}</li>{{ end }}
                            <br>
                            {{ with .Exif.ImageDescription }}<li>{{ . }}</li>{{ end }}
                            <br>
                            {{ with .Exif.FocalLengthIn35mmFormat }}<li>Focal length: {{ . }}mm</li>{{ end }}
                            {{ with .Exif.FNumber }}<li>F-stop: {{ partial "format-fstop.html" . }}</li>{{ end }}
                            {{ with .Exif.ExposureTime }}<li>Shutter speed: {{ . }}</li>{{ end }}
                            {{ with .Exif.ISO }}<li>ISO: {{ . }}</li>{{ end }}
                        </ul>
                    {{ end }}
                </span>
            </a>
            {{ end }}
        {{ end }}
    </div>
    <!-- end of block -->
    <!-- caption code -->
    {{ with .Get "title" }}
    <p class="is-subtitle is-size-6 mt-1">{{ . }}</p>
    {{ end }}
</div>