<!-- block begin -->
<div id="my-gallery">
  {{ $images := .Page.Resources.Match (printf "%s*" (.Get "folder")) }} 
  {{ range  $images }}
  <a
    href="{{ .RelPermalink }}"
    data-pswp-width="{{ .Width }}"
    data-pswp-height="{{ .Height }}"
    target="_blank"
  >
    <img src="{{ .RelPermalink }}" alt="{{ .Name }}" loading="lazy"/>
    <span class="pswp-caption-content">
    {{ with .Exif }}
      <ul>
      {{ with .Date }}<li>Date: {{ .Format "January 02, 2006" }}</li>{{ end }}
      {{ with .Tags.ApertureValue }}<li>Aperture: {{ lang.FormatNumber 2 . }}</li>{{ end }}
      {{ with .Tags.BrightnessValue }}<li>Brightness: {{ lang.FormatNumber 2 . }}</li>{{ end }}
      {{ with .Tags.ExposureTime }}<li>Exposure Time: {{ . }}</li>{{ end }}
      {{ with .Tags.FNumber }}<li>F Number: {{ . }}</li>{{ end }}
      {{ with .Tags.FocalLength }}<li>Focal Length: {{ . }}</li>{{ end }}
      {{ with .Tags.ISOSpeedRatings }}<li>ISO Speed Ratings: {{ . }}</li>{{ end }}
      {{ with .Tags.LensModel }}<li>Lens Model: {{ . }}</li>{{ end }}
    </ul>    {{ end }}
    </span>
  </a>
  {{ end }}
</div>
<!-- end of block -->
<!-- caption code -->
{{ with .Get "title" }}
<h4>{{ . }}</h4>
{{ end }}

