<form
  action="https://formspree.io/f/xanqklbq"
  class="fs-form"
  target="_top"
  method="POST"
>
    
    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="hello@example.com" name="email" id="email" required>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>
    
    <div class="field">
        <label class="label" for="subject">Subject</label>
        <div class="control">
            <div class="select">
                <select name="subject" id="subject" class="input">
                    <option value="Sports">Sports</option>
                    <option value="Event">Event</option>
                    <option value="Wedding">Wedding</option>
                    <option value="Portraits">Portraits</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label" for="message">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Write your message here" name="message" id="message"required></textarea>
        </div>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
    </div>
    
</form>