<form
  action="https://formspree.io/f/xanqklbq"
  class="fs-form"
  target="_top"
  method="POST"
>

    <!-- <link rel="stylesheet" type="text/css" href="/css/contactform.css"> -->
    
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="hello@example.com" name="email" required>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
            <div class="select">
                <select name="subject" required>
                    <option value="Business">Business</option>
                    <option value="Event">Event</option>
                    <option value="Model">Model</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Write your message here" name="message" required></textarea>
        </div>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
    </div>
    
</form>