{{ $thumbnailUrl := .Params.thumbnailUrl }}
{{ $thumbnailAltText := .Params.thumbnailAltText }}
{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="container has-background-main">
    <!--<figure class="media-left is-4by3">
        <p class="image is-4by3">
            {{ with .Params.thumbnailUrl }}
            <a href="{{ $permalink }}"><img src="{{ $thumbnailUrl }}" alt="{{ $thumbnailAltText }}" width="180px" loading="lazy"></a>
            {{ end }}
        </p>
    </figure> -->
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p class="is-size-6 is-subtitle has-text-primary has-text-weight-medium mb-1 pb-0"> {{ .Params.date.Format "2 Jan 2006" }}</p>
                <h4><a class="title is-size-5 has-text-weight-semibold mt-0 pt-0" href="{{ $permalink }}"><span>{{ .Title }}</span></a></h4>
            </div>
        </div>
        <!--
        <figure class="media-right">
            <p class="image is-4by3">
                {{ with .Params.thumbnailUrl }}
                <a href="{{ $permalink }}"><img src="{{ $thumbnailUrl }}" alt="{{ $thumbnailAltText }}" loading="lazy"></a>
                {{ end }}
            </p>
        </figure>
        -->
    </article>
</div>
