{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="card has-background-main">
  <!-- No image for these small cards -->
  <div class="card-content">
    <a class="title is-5" href="{{ $permalink }}">{{ .Title }}</a>
      <h3 class="subtitle is-6 mt-1 mb-3"> {{ .Params.date.Format "Jan 2, 2006" }}</h3>
        <!--<div class="buttons">-->
        {{ with .Params.tags }}
        <!-- <p class="is-size-7 has-text-grey-light mt-1"> -->
            {{ range . }}
                {{ $tag := .}}
                {{ if eq $tag "landscape"}}
                    <button class="button is-primary is-responsive is-outlined mb-0 mt-1 mx-0">
                        <i class="fa-solid fa-mountain-sun mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-primary-bold">{{ . }}</a>
                    </button>
                {{ else if eq $tag "street" }}
                    <button class="button is-info is-responsive is-outlined mb-0 mt-1 mx-0">
                        <i class="fa-solid fa-building-user mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-info-bold">{{ . }}</a>
                    </button>
                {{ else }}
                    <button class="button is-link is-responsive is-outlined mb-0 mt-1 mx-0">
                        <i class="fa-solid fa-tag mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-link-bold">{{ . }}</a>
                    </button>
                {{ end }}
            {{ end }}
        <!-- </p> -->
        {{ end }}
        <!--</div>-->
    </div>
</div>