{{ $featuredImageUrl := .Params.featuredImageUrl }}
{{ $featuredAltText := .Params.featuredImageAltText }}
{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="card has-background-light">
  <!-- No image for these small cards -->
  <div class="card-content">
    <a class="title is-5" href="{{ $permalink }}">{{ .Title }}</a>
      <h3 class="subtitle is-6 my-1"> {{ .Params.date.Format "Jan 2, 2006" }}</h3>
        <!-- <p class="mb-3 has-text-weight-normal">{{ .Params.subtitle }}</p> -->
        {{ with .Params.tags }}
        <!-- <p class="is-size-7 has-text-grey-light mt-1"> -->
            {{ range . }}
              <button class="button is-primary is-responsive my-2 mx-0">
                <!-- <i class="fas fa-tag"></i> -->
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a href="{{ $href }}" class="is-size-7 has-text-white-ter is-capitalized">{{ . }}</a>
              </button>
            {{ end }}
        <!-- </p> -->
        {{ end }}
    </div>
</div>