{{ $thumbnailUrl := .Params.thumbnailUrl }}
{{ $thumbnailAltText := .Params.thumbnailAltText }}
{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="container">
    <p class="is-size-6 my-0 has-text-weight-bold is-title">FEATURED POST</p>
    <!--<p class="is-size-7 mb-1 has-text-weight-semibold has-text-link is-subtitle">FEATURED POST</p>-->
    <a class="is-title is-size-3 mb-1 has-text-weight-bold" id="menu" href="{{ $permalink }}">{{ .Title }}</a>
    <p class="is-size-6 my-1 has-text-primary has-text-weight-medium is-subtitle">{{ .Params.date.Format "2 Jan 2006" }}</p>
        <figure class="is-align-items-center is-justify-content-center image is-5by4 my-3">
            {{ with .Params.thumbnailUrl }}
            <a href="{{ $permalink }}"><img src="{{ $thumbnailUrl }}" alt="{{ $thumbnailAltText }}" loading="lazy"></a>
            {{ end }}
        </figure>
    <div class="content">
        <!-- need to choose either subtitle (front matter) or summary (first bit of text in post) 
        choose subtitle given it needs to be separate from other text in post -->
        <p class="mb-3 is-subtitle">{{ .Params.subtitle }}</p>
        <!-- <div class="content mb-3 has-text-weight-normal">{{ .Summary }}</div> -->
        <!--<div class="buttons">-->
        <a class="is-size-5 my-3" href="{{ $permalink }}"><span>Read the full post <i class="fa-solid fa-arrow-right"></i></span></a>
    </div>
</div>