{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="card has-background-main">
  <!-- No image for these small cards -->
  <div class="card-content">
    <a class="title is-5" href="{{ $permalink }}">{{ .Title }}</a>
      <h3 class="subtitle is-6 my-1"> {{ .Params.date.Format "Jan 2, 2006" }}</h3>
        <!-- <p class="mb-3 has-text-weight-normal">{{ .Params.subtitle }}</p> -->
        {{ with .Params.tags }}
        <!-- <p class="is-size-7 has-text-grey-light mt-1"> -->
            {{ range . }}
                {{ $tag := .}}
                {{ if eq $tag "landscape"}}
                    <button class="button is-primary is-responsive is-outlined my-2 mx-0">
                        <i class="fa-solid fa-mountain-sun mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-primary-bold">{{ . }}</a>
                    </button>
                {{ else if eq $tag "street" }}
                    <button class="button is-info is-responsive is-outlined my-2 mx-0">
                        <i class="fa-solid fa-building-user mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-info-bold">{{ . }}</a>
                    </button>
                {{ else }}
                    <button class="button is-responsive is-outlined my-2 mx-0">
                        <!-- <i class="fas fa-tag"></i> -->
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-bold">{{ . }}</a>
                    </button>
                {{ end }}
            {{ end }}
        <!-- </p> -->
        {{ end }}
    </div>
</div>