<!-- standalone ps gallery for showcase on home page -->

<div class="container mt-2 mb-3">
    <div id="psgallery--justified" class="psshowcase-class">
        {{ range resources.Match "showcase-images/*.jpg" }}
            {{ $link := .RelPermalink }}
            <a
                href="{{ $link }}"
                data-pswp-width="{{ .Width }}"
                data-pswp-height="{{ .Height }}"
                target="_blank"
            >
                <img src='{{ replaceRE "([^\\/]+).$" "thumbnails/" $link }}{{ replaceRE ".*([\\/]+)" "" .Name }}' alt="{{ .Name }}" loading="lazy"/>
                <span class="pswp-caption-content">
                    {{ with .Exif }}
                        <ul class="is-subtitle">
                            {{ with .Date }}<li><b>{{ .Format "January 02, 2006" }}</b></li>{{ end }}
                            {{ with .Tags.ImageDescription }}<li>{{ . }}</li>{{ end }}
                        </ul>
                    {{ end }}
                </span>
            </a>
            
            <!-- <h4> {{ replaceRE "([^\\/]+).$" "thumbnails/" $link }}{{ replaceRE ".*([\\/]+)" "" .Name }} </h4>
            <h4> {{ replaceRE "([^\\/]+).$" "thumbnails/" $link }}{{ .Name }} </h4> -->
            
        {{ end }}
    </div>
</div>
