{{ $thumbnailUrl := .Params.thumbnailUrl }}
{{ $thumbnailAltText := .Params.thumbnailAltText }}
{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="card has-background-main">
    <div class="card-image">
        <figure class="is-align-items-center is-justify-content-center image is-5by4">
            {{ with .Params.thumbnailUrl }}
            <a href="{{ $permalink }}"><img src="{{ $thumbnailUrl }}" alt="{{ $thumbnailAltText }}" loading="lazy"></a>
            {{ end }}
        </figure>
    </div>
    <div class="card-content">
        <a class="title is-5" href="{{ $permalink }}">{{ .Title }}</a>
        <h3 class="subtitle is-6 my-1"> {{ .Params.date.Format "Jan 2, 2006" }}</h3>
        <!-- need to choose either subtitle (front matter) or summary (first bit of text in post) -->
        <div class="content mb-3 has-text-weight-normal">{{ .Params.subtitle }}{{ .Summary }}</div>
        <div class="buttons">
        {{ with .Params.tags }}
        <!-- <p class="is-size-7 has-text-grey-light mt-1"> -->
            {{ range . }}
                {{ $tag := .}}
                {{ if eq $tag "landscape"}}
                    <button class="button is-primary is-responsive is-outlined my-2 mx-0">
                        <i class="fa-solid fa-mountain-sun mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-inherit">{{ . }}</a>
                    </button>
                {{ else if eq $tag "street" }}
                    <button class="button is-info is-responsive is-outlined my-2 mx-0">
                        <i class="fa-solid fa-archway mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-inherit">{{ . }}</a>
                    </button>
                {{ else }}
                    <button class="button is-responsive is-outlined my-2 mx-0">
                        <!-- <i class="fas fa-tag"></i> -->
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-inherit">{{ . }}</a>
                    </button>
                {{ end }}
            {{ end }}
        <!-- </p> -->
        {{ end }}
        </div>
    </div>
</div>