{{ $thumbnailUrl := .Params.thumbnailUrl }}
{{ $thumbnailAltText := .Params.thumbnailAltText }}
{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="container has-background-main">
    <div class="container">
        <figure class="is-align-items-center is-justify-content-center image is-5by4 my-1">
            {{ with resources.Get $thumbnailUrl }}
            <a href="{{ $permalink }}">{{ partial "widgets/responsive-image.html" (dict "resource" . "alt" $thumbnailAltText "sizes" "(max-width: 768px) 100vw, 400px") }}</a>
            {{ end }}
        </figure>
    </div>
    <div class="container">
        <h3><a class="title is-size-6 my-3 has-text-weight-semibold" href="{{ $permalink }}"><span>{{ .Title }}</span></a></h3>
        <p class="is-size-7 has-text-primary has-text-weight-medium my-1 is-subtitle"> {{ .Params.date.Format "2 Jan 2006" }}</p>
        <!-- need to choose either subtitle (front matter) or summary (first bit of text in post) 
        choose subtitle given it needs to be separate from other text in post -->
        <p class="is-size-6 mb-3 has-text-weight-normal is-hidden-mobile is-subtitle">{{ .Params.subtitle }}</p>
        <!-- <div class="content mb-3 has-text-weight-normal">{{ .Summary }}</div> -->
        <!--<div class="buttons">-->
        <!-- {{ with .Params.tags }}
            {{ range . }}
                {{ $tag := .}}
                {{ if eq $tag "landscape"}}
                    <button class="button is-primary is-responsive is-outlined mb-0 mt-1 mx-0">
                        <i class="fa-solid fa-mountain-sun mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-primary-bold">{{ . }}</a>
                    </button>
                {{ else if eq $tag "street" }}
                    <button class="button is-info is-responsive is-outlined mb-0 mt-1 mx-0">
                        <i class="fa-solid fa-building-user mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-info-bold">{{ . }}</a>
                    </button>
                {{ else }}
                    <button class="button is-link is-responsive is-outlined mb-0 mt-1 mx-0">
                        <i class="fa-solid fa-tag mr-2"></i>
                        {{ $href := print (absURL "tags/") (urlize .) }}
                        <a href="{{ $href }}" class="is-size-7 is-capitalized has-text-link-bold">{{ . }}</a>
                    </button>
                {{ end }}
            {{ end }}
        {{ end }} -->
        <!--</div>-->
    </div>
</div>