{{ $thumbnailUrl := .Params.thumbnailUrl }}
{{ $thumbnailAltText := .Params.thumbnailAltText }}
{{ $permalink := .RelPermalink }}
{{ $subtitle := .Params.subtitle }}

<div class="container">
    <p class="is-size-7 mb-1 has-text-weight-semibold has-text-link">FEATURED POST</p>
    <h2><a class="title is-size-4 mt-3 mb-1 has-text-weight-semibold" href="{{ $permalink }}"><span>{{ .Title }}</span></a></h2>
    <p class="is-size-6 my-1 has-text-primary has-text-weight-medium">{{ .Params.date.Format "Jan 2, 2006" }}</p>
        <figure class="is-align-items-center is-justify-content-center image is-5by4 my-3">
            {{ with .Params.thumbnailUrl }}
            <a href="{{ $permalink }}"><img src="{{ $thumbnailUrl }}" alt="{{ $thumbnailAltText }}" loading="lazy"></a>
            {{ end }}
        </figure>
    <div class="content">
        <!-- need to choose either subtitle (front matter) or summary (first bit of text in post) 
        choose subtitle given it needs to be separate from other text in post -->
        <div class="content mb-3 has-text-weight-normal">{{ .Params.subtitle }}</div>
        <!-- <div class="content mb-3 has-text-weight-normal">{{ .Summary }}</div> -->
        <!--<div class="buttons">-->
        <a class="is-size-5 my-3" href="{{ $permalink }}"><span>Read the full post <i class="fa-solid fa-arrow-right"></i></span></a>
    </div>
</div>