/* Further custom formatting for post */
  
ul {
  font-family: var(--bulma-family-secondary);
  }
  .is-title, .is-subtitle {
    font-family: var(--bulma-family-primary);
  }

ol {
  font-family: var(--bulma-family-secondary);
  }
  .is-title, .is-subtitle {
    font-family: var(--bulma-family-primary);
  }
  
li::marker {
  color: var(--bulma-color-primary);
  }
  
/* Header (landing) image */
.header-image {
    background-image: url(../images/website_header2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}