// Include all Bulma helpers/functions:
@forward "utilities";
@forward "themes";
@forward "base";
@forward "elements";
@forward "form";
@forward "components";
@forward "grid";
@forward "layout";
@forward "base/skeleton";
@forward "helpers";

// Set light mode colours:
$primary-light: #275958; // hedge
$link-light: #22D592;    // grass
$warning-light: #EAAA02; // house
$info-light: #02669A;    // sky
$danger-light: #BE2400;  // roof
$success-light: #687069; // toet

// Use our custom theme:

@use "bulma/sass/utilities/css-variables" as cv;

@use "bulma/sass/themes/setup";
@use "bulma/sass/themes/light";
@use "bulma/sass/themes/dark";

$primary-dark: #00008B; // dark blue

@mixin light-theme-config {
  @include light.light-theme;
  // Colours:
  $primary: $primary-light;
  $link: $primary-light;
  $info: $primary-light;
  $success: $success-light;
  $warning: $primary-light;
  $danger: $primary-light;
  // Fonts:
  $family-primary: '"Inter", sans-serif',
  $family-secondary: '"Cardo", serif',
  $family-code: '"Fira Code", monospace',
  // Card:
  $card-radius: 0rem,
  $shadow-color: transparent
}

@mixin dark-theme-config {
  @include dark.dark-theme;

  // Reconfigure the $primary color
  @include cv.register-hsl("primary", $primary-dark);
  @include cv.generate-color-palette("primary", $primary-dark);
  @include cv.generate-on-scheme-colors("primary", $primary-dark, dark.$scheme-main);
}

// Setup the light theme as the default theme
:root {
  @include light-theme-config;
  @include setup.setup-theme;
}

// prefers-color-scheme: light
@include cv.system-theme($name: "light") {
  @include light-theme-config;
}

// prefers-color-scheme: dark
@include cv.system-theme($name: "dark") {
  @include dark-theme-config;
}

// [data-theme=light], .theme-light
@include cv.bulma-theme($name: "light") {
  @include light-theme-config;
  @include setup.setup-theme;
}

// [data-theme=dark], .theme-dark
@include cv.bulma-theme($name: "dark") {
  @include dark-theme-config;
  @include setup.setup-theme;
}


// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

