// Set custom colours:
$hedge: #467B75; // primary dark mode
$grass: #68B68F; // primary light mode
$sky: #02669A;   // secondary dark mode
$patio: #807FA7; // secondary light mode
$roof: #BE2400;  // tertiary dark mode
$house: #EAAA02; // tertiary light mode

// Include all Bulma helpers/functions:
@forward "bulma/sass/utilities" with (
  // Fonts:
  $family-primary: '"Inter", sans-serif',
  $family-secondary: '"Newsreader", serif',
  $family-code: '"Fira Code", monospace'
  );

@forward "bulma/sass/themes";
@forward "bulma/sass/base";
@forward "bulma/sass/elements";
@forward "bulma/sass/form";
@forward "bulma/sass/grid";
@forward "bulma/sass/layout";
@forward "bulma/sass/base/skeleton";
@forward "bulma/sass/helpers";

 @use "bulma/sass/components" with (
    $card-shadow: none,
    $card-background-color: var(--bulma-scheme-main-ter),
    $navbar-padding-horizontal: 0rem
    );

// $card-radius: 0rem,

// Use our custom theme:

@use "bulma/sass/utilities/css-variables" as cv;

@use "bulma/sass/themes/setup";
@use "bulma/sass/themes/light";
@use "bulma/sass/themes/dark";

@mixin light-theme-config {
  @include light.light-theme;
  // Reconfigure the light colors:
  // PRIMARY
  @include cv.register-hsl("primary", $hedge);
  @include cv.generate-color-palette("primary", $hedge);
  @include cv.generate-on-scheme-colors("primary", $hedge, light.$scheme-main);
  // LINK
  @include cv.register-hsl("link", $sky);
  @include cv.generate-color-palette("link", $sky);
  @include cv.generate-on-scheme-colors("link", $sky, light.$scheme-main);
  // WARNING
  @include cv.register-hsl("warning", $house);
  @include cv.generate-color-palette("warning", $house);
  @include cv.generate-on-scheme-colors("warning", $house, light.$scheme-main);
  // DANGER
  @include cv.register-hsl("danger", $roof);
  @include cv.generate-color-palette("danger", $roof);
  @include cv.generate-on-scheme-colors("danger", $roof, light.$scheme-main);
  }

@mixin dark-theme-config {
  @include dark.dark-theme;
  // Reconfigure the dark colors:
  // PRIMARY
  @include cv.register-hsl("primary", $grass);
  @include cv.generate-color-palette("primary", $grass);
  @include cv.generate-on-scheme-colors("primary", $grass, dark.$scheme-main);
  // LINK
  @include cv.register-hsl("link", $patio);
  @include cv.generate-color-palette("link", $patio);
  @include cv.generate-on-scheme-colors("link", $patio, dark.$scheme-main);
  // WARNING
  @include cv.register-hsl("warning", $house);
  @include cv.generate-color-palette("warning", $house);
  @include cv.generate-on-scheme-colors("warning", $house, dark.$scheme-main);
  // DANGER
  @include cv.register-hsl("danger", $roof);
  @include cv.generate-color-palette("danger", $roof);
  @include cv.generate-on-scheme-colors("danger", $roof, dark.$scheme-main);
  }

// Setup the light theme as the default theme
:root {
  @include light-theme-config;
  @include setup.setup-theme;
}

// prefers-color-scheme: light
@include cv.system-theme($name: "light") {
  @include light-theme-config;
}

// prefers-color-scheme: dark
@include cv.system-theme($name: "dark") {
  @include dark-theme-config;
}

// [data-theme=light], .theme-light
@include cv.bulma-theme($name: "light") {
  @include light-theme-config;
  @include setup.setup-theme;
}

// [data-theme=dark], .theme-dark
@include cv.bulma-theme($name: "dark") {
  @include dark-theme-config;
  @include setup.setup-theme;
}

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Google Fonts - Not currently used
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');