// Set your brand colors
$hedge: #275958;
$grass: #22D592;
$house: #EAAA02;
$sky: #02669A;
$roof: #BE2400;
$toet: #687069;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  // Fonts:
  $family-primary: '"Inter", sans-serif',
  $family-secondary: '"Cardo", serif',
  $family-code: '"Fira Code", monospace',
  // Colours:
  $primary: $hedge,
  // $primary-dark: $hedge,
  $link: $grass,
  // $link-dark: $grass,
  $info: $sky,
  // $info-dark: $sky,
  $success: $toet,
  // $success-dark: $toet,
  $warning: $house,
  // $warning-dark: $house,
  $danger: $roof,
  // $danger-dark: $roof,
  // Card:
  $card-radius: 0rem,
  $shadow-color: transparent
  );
  
// Import Google Fonts

// Current import:
// Cardo (body?), Inter (headings), Fira (code)
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

