// Set your brand colors
$purple: #4b4a67;
$green-dark: #5fb49c;
$green-light: #98dfaf;
$mint: #deefb7;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Raleway", sans-serif',
  $family-secondary: '"Cardo", serif',
  $family-code: '"Fira Code", monospace',
  $grey-dark: $purple,
  $primary: $green-dark,
  $link: $green-light,
  $control-border-width: 2px,
  $input-shadow: none
  );

// Import Google Fonts
// Tried before:
// Instrument Serif
// Noto Serif
// Current import:
// Cardo (body), Raleway (headings), Fira (code)
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');