/* Error: Undefined mixin.
 *   ,
 * 3 | / @include mobile {
 * 4 | |   .your-buttons {
 * 5 | |     justify-content: center;
 * 6 | |   }
 * 7 | \ }
 *   '
 *   bulma/sass/extensions/extension.scss 3:1  @forward
 *   bulma/sass/extensions/_index.scss 4:1     @forward
 *   bulma/sass/_index.scss 11:1               @use
 *   my-bulma-project.scss 9:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 3 \2502  \250c  @include mobile {\a 4 \2502  \2502    .your-buttons {\a 5 \2502  \2502      justify-content: center;\a 6 \2502  \2502    }\a 7 \2502  \2514  }\a   \2575 \a   bulma/sass/extensions/extension.scss 3:1  @forward\a   bulma/sass/extensions/_index.scss 4:1     @forward\a   bulma/sass/_index.scss 11:1               @use\a   my-bulma-project.scss 9:1                 root stylesheet";
}
