// Set your brand colors
$hedge: #275958;
$grass: #22D592;
$house: #EAAA02;
$sky: #02669A;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Inter", sans-serif',
  $family-secondary: '"Cardo", serif',
  $family-code: '"Fira Code", monospace',
  $primary: $hedge,
  $link: $grass,
  $control-border-width: 2px,
  $input-shadow: none
  );

// Import Google Fonts
// Tried before:
// Instrument Serif
// Noto Serif
// Current import:
// Cardo (body), Raleway (headings), Fira (code)
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');